body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  text-align: center;
  margin: 10px 0;
}
#cmd {
  border-radius: 5px;
  width:750px;
  margin: 0 auto;
  padding-top: 5px;
  background: lightgrey;
  /* height: 70vh; */
  text-align: left;
  font-size:1em;
  color: #fafafa;
}

#cmd_title {
  color: #333;
  margin: 5px 25px;
}

#cmd_text {
  font-family: 'Inconsolata', monospace;
  border-radius: 0 0 5px 5px;
  width:670px;
  padding: 15px 40px;
  height: 75vh;
  overflow-y: auto;
  margin:0 auto;
  background: #333;
  letter-spacing: 0.15em;
  line-height: 1.5em;
}

#content {
  border-right: 2px solid;
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
    50% {
      border-color: transparent
    }
  }

#visualBtn {
  /* margin: 0 25px 0; */
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  text-align: center;
  padding: 15px 32px;
  border: none;
  background-color: dimgrey;
  color: white;
  display: none; /*Hide btn*/
  cursor: zoom-in;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 97vw;
  height: 94vh;
}

.modal-content img {
  margin: auto;
  width: auto;
  height: 100%;
  display: block;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
